* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	--active: #00c477;
	--white-border: #e4e7e7;
  --border-color: #cccccc;
}

/* Main Styles */

body {
	height: 100%;
  box-sizing: border-box;
	background-color: #f0f7fa;
}

.flex {
	display: flex;
	width: 100%;
}

#left-area.w60 {
	width: 60%;
	height: 100vh;
	overflow: hidden;
}

#left-area.w60 img {
	display: block;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

#right-area.w40 {
	width: 40%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Header */

header {
	display: flex;
	align-items: center;
	background-color: #313131;
	height: 80px;
}

.header {
	background-color: #3a3a3a;
	padding: 5px 16px;
}

.header .wrapper {
	width: 100%;
	display: flex;
}

.header .flex {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header .wrapper.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .w10,
.header .w20,
.header .w70 {
	display: flex;
	align-items: center;
}

.header .w10 {
	width: 10%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row-reverse;
}

.header .w20 {
	width: 20%;
	justify-content: right;
}

.header .w70 {
	width: 70%;
	justify-content: right;
	flex-direction: row-reverse;
	align-items: right;
	text-align: right;
}

.w40.logo img {
	height: 60px;
	width: 100%;
}

.w60.al {
	padding-bottom: 0;
}

.w60.al h1 {
	font-size: 1.4em;
	color: #ffffff;
}

.fas.fa-caret-down {
	color: #ffffff;
	margin-right: 10px;
	cursor: pointer;
}

#menu > i,
#menu > li {
	display: none;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
}

#menu ul.active {
	display: block;
}

#menu ul li {
	color: #ffffff;
}

#menu ul li a {
	gap: 5px;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 29px 20px;
	transition: background-color 0.3s, color 0.3s;
	position: relative;
	font-size: 18px;
}

#menu ul li a.router-link-active {
	padding-bottom: 24px;
	border-bottom: 5px solid var(--active);
	color: var(--active);
}

#menu ul li a:hover {
	background-color: #2c2c2c;
	color: var(--active);
}

#menu ul li a i {
	order: 1;
}

/* User, User's info and logo */

#user-top {
	position: relative;
}

#user-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #1e1e1e;
	color: hwb(0 100% 0%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#user-info {
	width: 100%;
	position: absolute;
	top: 45px;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 7px;
	z-index: 10;
	box-shadow: 0 4px 8px #0000001a;
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

#user-info.active {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

#user-info a {
	color: #000000;
	text-decoration: none;
}

#user-info a:hover {
	color: var(--active);
}

/* Forms */

.data {
	padding: 0 15px;
	font-family: sans-serif;
	font-size: 15px;
	background-color: #f3f7fd;
	border: 1px solid #cacaca;
	border-radius: 10px;
	height: 40px;
	max-width: 120px;
}

.form.inner-form.p20 {
	background-color: #f0f7fa;
	padding: 0 20px;
	display: flex;
	flex: auto;
	align-items: center;
  box-sizing: border-box;
}

.form.inner-form.p20 form,
.form .row,
.form .row input,
.form .row button.btn {
	width: 100%;
}

.form.inner-form.p20 form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 180px;
}

.form .row {
	margin-bottom: 20px;
	max-width: 450px;
}

.form .row label {
	margin-bottom: 5px;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	text-align: right;
}

.form .row input,
.form .row button.btn {
	padding: 18px 16px;
	border-radius: 7px;
  box-sizing: border-box;
}

.form .row input {
  background-color: #f3f7fd;
	text-align: right;
	border: 1px solid var(--border-color);
}

.form .row button.btn {
	background-color: var(--active);
	color: #ffffff;
	cursor: pointer;
	border: none;
	font-size: 1.2em;
	box-shadow: 0px 4px 8px #00000033;
	transition: background-color 0.3s ease;
	text-transform: uppercase;
}

.form .row button.btn:hover {
	background-color: #1c7d82;
}

.wrapper.al {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 5px;
}

/* Message Styles */

.alertMsg {
	font-size: inherit;
	padding: 20px 10px;
	position: fixed;
	bottom: 5%;
	left: 2%;
	border-radius: 10px;
	z-index: 999;
	height: auto;
	display: none;
	color: #ff0000;
	background-color: #ffe4e4bf;
	box-shadow: 0px 0 10px 0px #cd1e0b80;
	animation: showFromLeft 0.3s linear;
}

.successMsg {
	font-size: inherit;
	padding: 20px 10px;
	position: fixed;
	bottom: 5%;
	left: 2%;
	border-radius: 10px;
	z-index: 999;
	height: auto;
	display: none;
	color: #008000;
	background-color: #daf9dfbf;
	box-shadow: 0px 0 10px 0px #0bcd3d80;
	animation: showFromLeft 0.3s normal;
}

@keyframes showFromLeft {
	0% {
		opacity: 0;
		margin-left: -100%;
	}
	25% {
		opacity: 0.2;
		margin-left: -50%;
	}
	35% {
		opacity: 0.4;
		margin-left: -20%;
	}
	50% {
		opacity: 0.8;
		margin-left: -15%;
	}
	65% {
		opacity: 0.9;
		margin-left: -12%;
	}
	75% {
		opacity: 0.9;
		margin-left: -10%;
	}
	80% {
		opacity: 0.9;
		margin-left: -8%;
	}
	85% {
		opacity: 0.95;
		margin-left: -6%;
	}
	90% {
		opacity: 0.95;
		margin-left: -4%;
	}
	95% {
		opacity: 0.95;
		margin-left: -2%;
	}
	100% {
		opacity: 1;
		margin-left: 0;
	}
}

/* PopUp */

.popup-back {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000080;
	z-index: 999;
}

.popup {
	position: fixed;
	background: #ffffff;
	box-shadow: 0px 4px 10px #00000033;
	z-index: 1000;
	max-width: 700px;
	width: 100%;
	max-height: 100vh;
}

.head-popup {
	background-color: #dfe3e9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dddddd;
	padding: 30px 0;
	flex-direction: row-reverse;
}

.head-title {
	margin-right: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

.w50 {
	width: 50%;
	text-align: right;
}

.w80 {
	width: 80%;
}

.w20 {
	width: 20%;
	text-align: right;
}

/* Buttons */

.botBtns {
	margin-top: 30px;
	text-align: left;
	margin-left: 20px;
}

.btnS,
.btnSS {
	padding: 10px 15px;
	background-color: var(--active);
	color: #ffffff;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease;
	box-shadow: 0px 4px 8px #00000033;
	border-radius: 5px;
	margin-right: 10px;
}

.btnS {
	gap: 5px;
	display: flex;
	flex-direction: row-reverse;
}

.btnS:hover,
.btnSS:hover {
	background-color: #1b6f82;
	color: #ffffff;
}

.al {
	padding-bottom: 40px;
}

.ab1 {
	padding-top: 20px;
	margin-left: 20px;
	text-align: left;
	color: #000000;
}

.ab2 {
	align-items: left;
	margin-left: 20px;
}

/* Spinner */

#spinner {
	background: #919fa640 url(../images/loader.gif) no-repeat;
	background-position: center;
	background-size: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

.inside-content {
	color: #42454b;
	text-align: center;
}

.flex.panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
}

.w20 {
	width: 20%;
}

.w60 {
	width: 60%;
}

.ptb30 {
	padding: 30px 0;
}

.ptb28 {
	padding: 28px 0;
}

.ptb20 {
	padding: 20px 0;
	display: flex;
}

input[type='date'] {
	height: 40px;
	max-width: 120px;
	padding: 0 15px;
	font-family: sans-serif;
	font-size: 15px;
	background-color: #f3f7fd;
	border: 1px solid #cacaca;
	border-radius: 10px;
}

input[type='date']::-webkit-calendar-picker-indicator {
	padding: 0;
	margin-left: -10px;
}

h1 {
	margin: 0;
	color: #000000;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #3e3e3e;
	transition: all 0.5s ease;
}

a:hover {
	color: var(--active);
}

.t-f table {
	border-collapse: collapse;
	width: 100%;
	direction: rtl;
}

.t-f th {
	background-color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid var(--white-border);
	border-top: 1px solid var(--white-border);
	text-decoration: none;
}

.t-f th:first-child {
	border-top: 1px solid var(--white-border);
	border-right: 1px solid var(--white-border);
}

.t-f th:last-child {
	border-left: 1px solid var(--white-border);
}

.t-f td {
	padding: 10px;
	border: 1px solid var(--white-border);
	color: #42454b;
	text-decoration: none;
}

.t-f tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.t-f tr:nth-child(even) {
	background-color: #ffffff;
}

.t-f th:nth-child(3),
.t-f td:nth-child(3) {
	width: 55%;
	text-align: right;
}

.t-f th.id,
.t-f td.id {
	width: 5%;
}

.t-f th.actions,
.t-f td.actions {
	width: 10%;
}

.t-s table {
	border-collapse: collapse;
	width: 100%;
	direction: rtl;
}

.t-s th {
	background-color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid #e4e7e7;
	border-top: 1px solid #e4e7e7;
	text-decoration: none;
	text-align: right;
}

.t-s th:first-child {
	border-top: 1px solid#e4e7e7;
	border-right: 1px solid#e4e7e7;
}

.t-s th:last-child {
	border-left: 1px solid#e4e7e7;
}

.t-s td {
	padding: 10px;
	border: 1px solid #e4e7e7;
	color: #42454b;
	text-decoration: none;
}

.t-s tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.t-s tr:nth-child(even) {
	background-color: #ffffff;
}

.t-s th:nth-child(5),
.t-s td:nth-child(5) {
	width: 40%;
	text-align: right;
}

.t-s th.id,
.t-s td.id {
	width: 5%;
	text-align: center;
}

.t-s th.link,
.t-s td.link {
	text-align: right;
}

.t-s th.images {
	text-align: center;
}

.t-s th.image,
.t-s td.image,
.t-s th.image1 {
	width: 10%;
}

.t-s .image1 {
	text-align: center;
}

.t-s th.actions,
.t-s td.actions {
	width: 15%;
	text-align: center;
}

.t-s th.txt,
.t-s td.txt {
	text-align: right;
}

.t-t table {
	border-collapse: collapse;
	width: 100%;
	direction: rtl;
}

.t-t th {
	background-color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid #e4e7e7;
	border-top: 1px solid #e4e7e7;
	text-decoration: none;
	text-align: right;
}

.t-t th:first-child {
	border-top: 1px solid#e4e7e7;
	border-right: 1px solid#e4e7e7;
}

.t-t th:last-child {
	border-left: 1px solid#e4e7e7;
}

.t-t td {
	padding: 10px;
	border: 1px solid #e4e7e7;
	color: #42454b;
	text-decoration: none;
	text-align: right;
}

.t-t tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.t-t tr:nth-child(even) {
	background-color: #ffffff;
}

.t-t th.actions,
.t-t td.actions {
	width: 10%;
	text-align: center;
}

.t-t th.image,
.t-t td.image {
	text-align: center;
	width: 30%;
}

.t-t th.ids,
.t-t td.ids {
	text-align: center;
}

.t-t th.action,
.t-t td.action {
	text-align: center;
	width: 15%;
}

.banner-img {
	max-width: 80px;
	height: 100%;
	filter: brightness(0.95);
	transition: filter 0.3s ease;
}

.banner-img:hover {
	filter: brightness(1);
}

.actions a + a {
	padding-right: 10px;
}

/* Switch and Slider */

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 15px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--border-color);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 17px;
	width: 17px;
	left: 0;
	bottom: -1px;
	background-color: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0px 0 10px 0px #4646464d;
}

.switch input:checked + .slider {
	background-color: #00cb84;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #00cb84;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.form.inner-form {
	padding: 35px 25px;
}

.btn {
	text-transform: uppercase;
	cursor: pointer;
	background-color: var(--active);
	color: #ffffff;
	border: none;
	font-size: 18px;
	padding: 16px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px #00000033;
	transition: background-color 0.5s ease;
	width: 100%;
	box-sizing: border-box;
}

button.btn:hover {
	background-color: #1c7c80;
}

/* Rows */

.rows {
	position: relative;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.custom-label {
	font-size: 19px;
	font-weight: bold;
	text-align: right;
	align-self: flex-end;
	margin-bottom: 10px;
}

.rows input[type='text'],
.rows input[type='number'] {
	text-align: right;
	background-color: #f3f7fd;
	padding: 16px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	width: 92%;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.rows input[type='text']:focus,
.rows input[type='number']:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px #007bff80;
	outline: none;
}

.rows input[type='date'] {
	text-align: left;
	background-color: #f3f7fd;
	padding: 16px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	width: 92%;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.rows input[type='date']:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px #007bff80;
	outline: none;
}

.rows textarea {
	width: 100%;
	height: 150px;
	text-align: right;
	font-family: sans-serif;
	background-color: #f3f7fd;
	border: 1px solid var(--border-color);
	border-radius: 10px;
}

.rows select {
	position: relative;
	appearance: none;
	text-align: right;
	background-color: #f3f7fd;
	padding: 16px 16px 16px 40px;
	border: 1px solid var(--border-color);
	border-radius: 10px;
	width: 87%;
	transition: border-color 0.3s, box-shadow 0.3s;
	z-index: 2;
}

.rows .select-icon {
	position: absolute;
	top: 70%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 12px;
	color: #666666;
	pointer-events: none;
	z-index: 3;
}

.rows .select-icon1 {
	position: absolute;
	top: 70%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 12px;
	color: #666666;
	pointer-events: none;
	z-index: 3;
}

.empty {
	text-align: right;
}

.panelTop {
	background-color: #d5f3ec;
}

.flexsn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.flexes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.flexs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.w30.ptb30 {
	text-align: right;
}

.w2O.a1.ptb2O {
	text-align: left;
}

.flex.panels {
	display: flex;
	flex-direction: row-reverse;
}

.flex.bodys {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.w30.ptb25 {
	text-align: right;
	width: 30%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 20px;
	margin-right: 20px;
}

.w70.a1 {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
}

.flex.cubes {
	width: 97%;
	display: flex;
	border: 1px solid #000000;
	border-radius: 10px;
	overflow: hidden;
	flex-direction: row-reverse;
	margin-left: auto;
}

.w30.clicks {
	width: 30%;
	background-color: #004e93;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 15px;
	text-align: right;
}

.w30.views {
	width: 30%;
	background-color: #4700ae;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 15px;
	text-align: right;
}

.w30.leads {
	width: 30%;
	background-color: #319201;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 15px;
	text-align: right;
}

.w30.ctr {
	width: 30%;
	background-color: #fefefe;
	color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 15px;
	text-align: right;
}

.flex.body {
	display: flex;
	flex-direction: row-reverse;
}

.w30.ar.filchart {
	width: 30%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: #f6f6f5;
	margin-right: 20px;
	padding-top: 15px;
	padding-right: 10px;
	font-size: 19px;
}

.itemchart.ptb10 {
	gap: 6px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#chartOuter {
	margin-left: 20px;
	width: 70%;
	height: 100vh;
	position: relative;
}

#chartHints {
	font-size: 18px;
	margin-top: 80px;
	position: relative;
	width: 100%;
	height: auto;
}

.chartHintsViews {
	position: absolute;
	top: -25px;
	left: 5px;
	color: black;
	font-weight: bold;
}

.chartHintsClicks {
	position: absolute;
	top: -25px;
	right: 0;
	color: black;
	font-weight: bold;
}

.myChart {
	width: 105%;
	height: 100%;
}

.w30.clicks,
.w30.views,
.w30.leads,
.w30.ctr {
	font-size: 36px;
}

.w30.clicks > div,
.w30.views > div,
.w30.leads > div,
.w30.ctr > div {
	font-size: 17px;
	margin-bottom: 10px;
}

.image-preview-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130px;
	width: 100%;
	border: 1px solid #e3e3e3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.im {
	height: 50px;
	width: auto;
	object-fit: cover;
}

.im.new-image {
	padding-top: 3px;
	height: 130px;
}

.file-input {
	display: block;
	margin-left: auto;
	margin-right: 0;
	padding: 10px;
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 15px 0;
}

.sz {
	text-align: right;
	font-size: 25px;
}

.ptb15 {
	padding-top: 30px;
	padding-bottom: 0;
}

.tabs.ar {
	display: flex;
	margin: 0;
	padding: 14px 0;
	direction: rtl;
}

.tabs.ar li {
	list-style: none;
	background-color: #fefefe;
	color: #5d5d5d;
	border: 1px solid #c2c4c3;
	border-radius: 5px;
	border-bottom: 4px solid #c2c4c3;
	padding: 10px 10px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	display: inline;
}

.tabs.ar li:not(:first-child) {
	margin-right: 15px;
}

.tabs.ar li.active {
	color: #000000;
	border-bottom: 4px solid var(--active);
}

.ptb10 {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.ptb9 {
	text-align: right;
	font-size: 14px;
	padding: 10px 0;
}

.ac {
	padding: 30px 0;
}

.w30 {
	width: 30%;
}

.ptbs10 {
	text-align: right;
}

.ptb14 {
	display: flex;
}

.ptb17 {
	font-size: 15px;
	padding: 17px 0;
}

.w9 {
	text-align: right;
	width: 9%;
}

.w69 {
	width: 70%;
}

.ptb19 h1 {
	font-size: 22px;
	padding: 20px 0;
	color: #42454b;
}

@media (max-width: 1860px) {
	.t-f th:nth-child(3),
	.t-f td:nth-child(3) {
		width: 45%;
	}

	.w20 {
		width: 19%;
	}

	#user-top {
		padding-left: 20px;
	}

	.header .w20 {
		padding-right: 20px;
	}

	.wrapper {
		padding: 0;
	}

	.form.inner-form.p20 form {
		margin-bottom: 0;
	}

	.w2O.a1.ptb2O {
		padding-left: 10px;
	}

	.w28.al.ptb15.pb0 {
		margin-left: 10px;
	}

	p,
	.tabs.ar,
	.sz,
	.w30.ptb30 h1 {
		padding-right: 10px;
	}
}

@media (max-width: 1160px) {
	.form.inner-form.p20 form {
		margin-bottom: 0;
	}

	.form.inner-form.p20 {
		padding-top: 10px;
	}

	.w10.ptb30 h1 {
		padding-right: 10px;
		font-size: 21px;
	}

	.w20.ptb30 h1 {
		font-size: 21px;
	}

	.wrapper {
		padding: 0;
	}

	.t-f th:nth-child(3),
	.t-f td:nth-child(3) {
		width: 35%;
	}

	.w20 {
		width: 19%;
	}

	#user-top {
		padding-left: 20px;
	}

	.header .w20 {
		padding-right: 20px;
	}

	.popup {
		overflow-y: auto;
	}

	.data {
		height: 35px !important;
		max-width: 98px !important;
	}
}

@media (max-width: 969px) {
	.flex.panels {
		display: flex;
		flex-direction: column;
	}

	.flex.body {
		display: flex;
		flex-direction: column-reverse;
	}

	.w30.ar.filchart {
		margin-top: 5%;
		width: 100%;
		height: 100%;
		padding-right: 0;
	}

	#chartOuter {
		width: 96%;
		height: 100%;
	}

	.itemchart.ptb10 {
		padding-right: 20px;
	}

	.w70.a1 {
		width: 100%;
	}

	.flex.cubes {
		margin-right: auto;
	}

	.w30.ptb25 {
		width: 100%;
		margin-left: -2%;
	}

	.form.inner-form.p20 form {
		margin-bottom: 0;
	}

	.form.inner-form.p20 {
		padding-top: 10px;
	}

	.btnS {
		font-size: 14px;
	}

	.w2O.a1.ptb2O {
		padding-left: 10px;
	}

	.w30.ptb30 h1 {
		padding-right: 10px;
	}
}

@media (max-width: 824px) {
	#chartOuter {
		width: 96%;
		height: 100%;
	}

	.w30.ar.filchart {
		height: 100%;
		padding-right: 0;
	}

	.w30.clicks > div,
	.w30.views > div,
	.w30.leads > div,
	.w30.ctr > div {
		font-size: 15px;
	}

	.w30.clicks,
	.w30.views,
	.w30.leads,
	.w30.ctr {
		font-size: 30px;
	}

	.w2O.a1.ptb2O {
		padding-left: 10px;
	}

	.w30.ptb30 h1 {
		padding-right: 10px;
	}

	.popup {
		overflow-y: auto;
		left: 0 !important;
		top: 0 !important;
		margin-left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		max-width: 100% !important;
		max-height: 100%;
	}

	.header .w20,
	.header .w70,
	.header .w10 {
		display: flex;
		justify-content: flex-end;
	}

	#menu ul {
		display: none;
	}

	#menu i.fas.fa-bars {
		display: flex;
		font-size: 1.4rem;
		color: #ffffff;
		cursor: pointer;
	}

	#menu ul li a.router-link-active {
		padding-bottom: 0;
		border-bottom: 0;
		color: var(--active);
	}

	#menu ul.active {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #313131;
		text-align: center;
		z-index: 9999;
	}

	#menu ul li a {
		justify-content: center;
		padding: 10px 0;
	}

	#menu ul.active li {
		margin: 15px 0;
	}

	#menu ul.active a {
		color: #ffffff;
		text-decoration: none;
		font-size: 18px;
	}

	.a1 .fa-times {
		color: #ffffff;
		font-size: 1.2rem;
		cursor: pointer;
		margin: 0 15px;
	}

	.btn {
		width: 97%;
	}

	.w2O.a1.ptb2O {
		padding-left: 10px;
	}

	.w30.ptb30 h1 {
		font-size: 28px;
		padding-right: 10px;
	}

	.btnS {
		margin: 0;
		font-size: 0;
		gap: 0;
	}

	.btnS i {
		font-size: 16px;
		line-height: 19px;
	}

	.table {
		overflow-x: auto;
	}

	.form.inner-form.p20 form {
		margin-bottom: 0;
	}

	.form.inner-form.p20 {
		padding-top: 30px;
	}

	#left-area {
		display: none;
	}

	#right-area.w40 {
		width: 100%;
	}
}

@media (max-width: 740px) {
	#chartOuter {
		width: 91%;
		height: 100%;
	}
	.w30.ar.filchart {
		height: 100%;
		padding-right: 0;
	}
	.w30.clicks > div,
	.w30.views > div,
	.w30.leads > div,
	.w30.ctr > div {
		font-size: 15px;
	}
	.w30.clicks,
	.w30.views,
	.w30.leads,
	.w30.ctr {
		font-size: 26px;
	}
	.w30.ptb30 {
		width: 75%;
	}
	.w20.ptb30 h2 {
		font-size: 20px;
	}
	.form.inner-form.p20 {
		padding-top: 10px;
	}
	.form.inner-form.p20 form {
		margin-bottom: 0;
	}
	.form .row {
		margin-bottom: 15px;
	}
	.header .w70 {
		width: 70%;
	}
	.header .w10 {
		width: 15%;
	}
	.w30.ptb30 h1 {
		font-size: 26px;
	}
}

@media (max-width: 510px) {
	.w30.ptb25 {
		margin: 0;
		margin-left: -2%;
	}

	.w30.ar.filchart {
		height: 100%;
		padding-right: 0;
	}

	#chartOuter {
		width: 95%;
		height: 100%;
	}

	.w30.clicks > div,
	.w30.views > div,
	.w30.leads > div,
	.w30.ctr > div {
		font-size: 13px;
	}

	.w30.clicks,
	.w30.views,
	.w30.leads,
	.w30.ctr {
		padding: 10px 10px;
		font-size: 19px;
	}

	.w30.ptb30 h1 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.w20.a1.ptb14 {
		width: 90%;
		display: flex;
		justify-content: center;
		padding-bottom: 15px;
	}

	.w30.ptb9 h2 {
		margin: 0;
		padding-top: 5px;
	}

	.w9.ptb19 h1 {
		padding-bottom: 0;
	}

	.w20.ptb17 {
		padding-bottom: 0;
	}

	.w30.ptb9,
	.w9.ptb19,
	.w20.a1.ptb19,
	.w20.ptb17,
	.w30.ptbs10,
	.w20.ptb10,
	.w10.ptb30,
	.w20.ptb30 {
		width: 90%;
	}

	.w10.ptb30,
	.w20.ptb30 h1 {
		display: flex;
		justify-content: end;
	}

	.w20.ptb17 h2,
	.w20.ptb30 h2 {
		margin: 0;
	}

	.flexs {
		padding-bottom: 15px;
	}

	.ptb30 {
		padding: 10px 0;
	}

	.ac {
		padding: 10px 0;
	}

	.ptb20 {
		padding: 10px 0;
	}

	.header .w70 {
		width: 55%;
	}

	#user-circle {
		height: 39px;
	}

	.flex.panel {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.flex.panel,
	.flexs {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.w40.logo img {
		width: 60px;
	}

	.w60.al1 h1 {
		font-size: 21px;
	}

	.form.inner-form.p20 {
		padding-top: 30px;
	}

	.btn {
		width: 99%;
	}

	.w60 {
		width: 90%;
	}

	input[type='date'] {
		height: 40px;
		max-width: 110px;
	}

	.w30.ptb30 {
		width: 70%;
	}

	.w20.al.ptb20 {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.w30.ptb15.pbe {
		width: 100%;
	}

	.w50 {
		width: 100%;
	}

	.tabs.ar {
		padding: 13px 0;
		justify-content: center;
		width: 100%;
	}
}

@media (max-width: 432px) {
	#chartOuter {
		width: 92%;
		height: 100%;
	}

	.w30.clicks > div,
	.w30.views > div,
	.w30.leads > div,
	.w30.ctr > div {
		font-size: 12px;
	}

	.w30.clicks,
	.w30.views,
	.w30.leads,
	.w30.ctr {
		padding: 10px 10px;
		font-size: 15px;
	}

	.w60 {
		width: 90%;
	}

	input[type='date'] {
		height: 40px;
		max-width: 98px;
	}

	.header .w70 {
		width: 45%;
	}

	.header .w10 {
		width: 16%;
	}

	.w30.ptb30 {
		width: 90%;
	}

	.w30.ptb30 h1 {
		font-size: 22px;
	}

	.btnS {
		padding: 7px 11px;
	}
}

@media (max-width: 320px) {
	#chartOuter {
		width: 92%;
		height: 100%;
	}

	.w30.ar.filchart {
		height: 100%;
	}
  
	.w20.ptb30 h2 {
		font-size: 15px;
	}

	.w30.ptb30 h1 {
		font-size: 16px;
	}

	.w30.ptb30 {
		width: 100%;
	}

	.header .w70 {
		width: 40%;
	}

	.header .w10 {
		width: 17%;
	}

	.w60 {
		width: 90%;
	}

	input[type='date'] {
		height: 40px;
		max-width: 97px;
	}
}
